<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  <add name="Konekcija" connectionString="Data Source=DESKTOP-O41QTM8\SQLEXPRESS;Initial Catalog=TestKnjizara;MultipleActiveResultSets=True;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False " providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>